html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "Baloo 2";
}

html {
  background-color: "#4C4C4C";
}

div {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.bold{
	font-weight: bold;
}

.description{
	color: rgba(0,0,0,0.5);
}

.card-info{
	display: flex;
	font-size: 10px;
	color: rgba(0,0,0,0.5);
}
.card-name{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
	word-break:break-all;
}
.card-desc{
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 1;
	-webkit-box-orient: vertical;
	word-break:break-all;
	margin-right: 20px;
}
.icon20{
	width: 20px;
}
.flex{
	display: flex;
}
.end{
	justify-content: end;
}
.top8{
	margin-top: 8px;
}
.top12{
	margin-top: 12px;
}
.top24{
	margin-top: 24px;
}
.left8{
	margin-left: 8px;
}
.left12{
	margin-left: 12px;
}
.left24{
	margin-left: 24px;
}
.left48{
	margin-left: 48px;
}
.left50{
	margin-left: 50px;
}
.size12{
	font-size: 12px;
}

.size18{
	font-size: 18px;
}

.between{
	justify-content: space-between;
}
.icon16{
	width: 16px;
}

.item-title{
	margin-left: 24px;
	margin-top: 24px;
	padding: 12px 0;
	font-size: 18px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.italic{
	font-style: italic
}

.font{
	font-size: 16px;
	color: rgba(0,0,0,0.5);
}

.border-radius16{
	border-radius: 16px;
	overflow: hidden;
}

.title{
	font-size: 30px;
	font-weight: 500;
	color: rgba(0,0,0,0.8);
}

.imageSize{
	max-width: 400px;
}

.color5{
	color:rgba(0,0,0,0.5)
}

.color-blue{
	color: rgba(0, 101, 255, 0.68);
}
.description-box{
	padding: 16px 12px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 8px;
}

.border{
	border: 1px solid rgba(0,0,0,0.1);
}

.top4{
	margin-top: 4px;
}

.ant-form{
	width: 100%;
}

.createForm .ant-form-item {
	margin-bottom: 42px !important;
}

.ant-upload-list-picture .ant-upload-list-item, .ant-upload-list-picture-card .ant-upload-list-item{
	width: 380px;
}